<form class="sheet-body">

<header class="sheet-header">

<img src="{{item.img}}" data-edit="img" width="64" height="64">

<h1>
<input name="name" type="text" value="{{item.name}}">
</h1>

</header>

<h2>Type</h2>

<select name="system.category">
{{selectOptions categories selected=system.category labelAttr="label" valueAttr="value"}}
</select>

<label>
<input type="checkbox" name="system.isContainer" {{checked system.isContainer}}>
Cet objet est un conteneur
</label>

<h2>Quantité</h2>

<input type="number" name="system.quantity" value="{{system.quantity}}">

<h2>Poids</h2>

<input type="number" name="system.weight" value="{{system.weight}}">

<h2>Description</h2>

<textarea name="system.description">{{system.description}}</textarea>

</form>