<li
  class="item {{#if node.system.isContainer}}container{{/if}} {{#if node.system.overweight}}overweight{{/if}}"
  data-item-id="{{node.id}}"
  data-item-key="{{node.name}}::{{node.system.category}}"
  style="--depth: {{node.depth}};"
>

  <div class="item-main drag-handle" draggable="true" data-item-id="{{node.id}}">

    {{#if node.system.isContainer}}
      <div
        class="container-toggle"
        data-container-id="{{node.id}}"
        title="Ouvrir / Fermer"
      >
        {{#if node.expanded}}▼{{else}}▶{{/if}}
      </div>
    {{else}}
      <div class="container-spacer"></div>
    {{/if}}

    <img
      class="inventory-icon"
      src="{{node.img}}"
      width="24"
      height="24"
      alt="{{node.name}}"
      draggable="false"
    />

    <div class="item-name" title="{{node.name}}">
      {{node.name}}
    </div>

  </div>

  <div class="item-type" title="{{node.system.category}}">
    {{node.system.category}}
  </div>

  <input
    class="item-qty"
    type="number"
    min="0"
    value="{{node.system.quantity}}"
    {{#if node.system.isContainer}}readonly{{/if}}
  />

  <div class="item-weight {{#if node.system.overweight}}overweight{{/if}}">
    {{formatNumberClean node.system.weight}} kg
  </div>

  {{#if node.containerId}}
    <div
      class="item-extract"
      data-item-id="{{node.id}}"
      title="{{localize "D100BASE.Inventory.Extract"}}"
    >
      🡅
    </div>
  {{else}}
    <div class="item-action-spacer"></div>
  {{/if}}

  <button
    type="button"
    class="item-transfer"
    data-action="transfer-item"
    data-item-id="{{node.id}}"
    title="{{localize "D100BASE.Inventory.TransferButton"}}"
    aria-label="{{localize "D100BASE.Inventory.TransferButton"}}"
  >
    ⇄
  </button>

  <div
    class="item-delete"
    data-item-id="{{node.id}}"
    title="{{localize "D100BASE.Inventory.Delete"}}"
  >
    ✖
  </div>

</li>

{{#if node.system.isContainer}}
  <ul class="container-children {{#unless node.expanded}}collapsed{{/unless}}">
    {{#each node.contents as |child|}}
      {{> "systems/d100base/templates/partials/inventory-node.hbs" node=child}}
    {{/each}}
  </ul>
{{/if}}