<form class="sheet-body">

  <header class="item-header">

    <img
      class="item-icon"
      src="{{item.img}}"
      data-edit="img"
      alt="{{item.name}}">

    <div class="item-header-fields">

      <input
        class="item-name"
        name="name"
        type="text"
        value="{{item.name}}">

      <div class="item-secondary-fields">

        <div class="secondary-row">

          <label>
            Poids unitaire
            <input
              type="number"
              name="system.unitWeight"
              value="{{system.unitWeight}}"
              {{#if system.isContainer}}readonly{{/if}}>
          </label>

		  <label>
		    Quantité
		    <input
			  type="number"
			  name="system.quantity"
			  value="{{system.quantity}}"
			  {{#if system.isContainer}}readonly{{/if}}>
		  </label>

          <label>
            Poids total
            <input
              type="number"
              name="system.weight"
              value="{{totalWeight}}"
              readonly>
          </label>

        </div>

        <div class="secondary-row">

          <label>
            Type
            <select name="system.category">
              {{selectOptions categories selected=system.category labelAttr="label" valueAttr="value"}}
            </select>
          </label>

          <label class="container-checkbox">
            <input
              type="checkbox"
              name="system.isContainer"
              {{checked system.isContainer}}>
            Conteneur
          </label>

        </div>

        {{#if system.isContainer}}
        <div class="secondary-row">

          <section class="item-properties">

            <label>
              Poids (vide)
              <input
                type="number"
                name="system.emptyWeight"
                value="{{system.emptyWeight}}">
            </label>

            <label>
              Capacité max
              <input
                type="number"
                name="system.capacityWeight"
                value="{{system.capacityWeight}}">
            </label>

            <label>
              Poids du contenu
              <input
                type="number"
                value="{{contentWeight}}"
                readonly>
            </label>

            <label class="{{#if overweight}}overweight{{/if}}">
              État
              <input
                type="text"
                value="{{#if overweight}}Surchargé{{else}}OK{{/if}}"
                readonly>
            </label>

          </section>

        </div>
        {{/if}}

      </div>

    </div>

  </header>

  {{#if system.isContainer}}

    {{#if isOwnedContainer}}

    <h2>Contenu réel</h2>

    <div class="container-total-weight {{#if overweight}}overweight{{/if}}">
      <span>Poids du contenu : {{formatNumberClean contentWeight}} kg</span>

      {{#if capacityWeight}}
      <span> / {{formatNumberClean capacityWeight}} kg max</span>
      {{/if}}
    </div>

    <div class="container-contents-runtime">

      <div class="inventory-scroll">

        <ul class="inventory-list">

		  <li class="inventory-header">
		    <span>Nom</span>
		    <span>Type</span>
		    <span>Qté</span>
		    <span>Poids (kg)</span>
		    <span></span>
		    <span></span>
		  </li>

          {{#if containerTree.length}}
            {{#each containerTree}}
              {{> "systems/d100base/templates/partials/inventory-node.hbs" node=this}}
            {{/each}}
          {{else}}
            <li class="empty-container-row">
              <span>Ce conteneur est vide.</span>
            </li>
          {{/if}}

        </ul>

      </div>

    </div>

    {{else}}

    <h2>Conteneur</h2>

    <div class="container-total-weight">
      <span>Poids vide : {{formatNumberClean system.emptyWeight}} kg</span>

      {{#if system.capacityWeight}}
      <span> / Capacité max : {{formatNumberClean system.capacityWeight}} kg</span>
      {{/if}}
    </div>

    <p class="container-hint">
      Le contenu réel n’est visible que lorsque ce conteneur est possédé par un acteur.
    </p>

    {{/if}}

  {{/if}}

  <h2>Description</h2>

  <textarea name="system.description">{{system.description}}</textarea>

</form>